
#accordion .panelTemplate {
    margin: 0;
}

#accordion .panel-heading {
    padding: 0;
}

#accordion .panelLink {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.lineStatusGood {
    color: #3ea12e;
}

.lineStatusBad {
    color: #cc4f1a;
}
