
body {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

#accordion .panelTemplate {
    margin: 0;
}

#accordion .panel-heading {
    padding: 0;
}

#accordion .panelLink {
    display: block;
    color: black;
    font-size: 22px;
    text-decoration: none;
    padding: 5px 0 5px 10px;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #888;
    border-top: 1px solid #eee;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#accordion .panel-collapse {
    -webkit-box-sizing: border-box;
    background: #e3e3e3;
}

.navbar-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
}

.navbar-brand {
    height: auto;
}

.panelLink.lineStatusGood {
    background: #f4f4f4;
}

.lineStatus.lineStatusGood {
    color: #3ea12e;
}

.lineStatus.lineStatusBad {
    color: #c72d08;
}
