
#accordion .panelTemplate {
    margin: 0;
}

#accordion .panel-heading {
    padding: 0;
}

#accordion .panelLink {
    display: block;
    color: black;
    font-size: 22px;
    text-decoration: none;
    padding: 5px 15px;
}

.navbar-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
}

.navbar-brand {
    height: auto;
}

.lineStatusGood {
    color: #3ea12e;
}

.lineStatusBad {
    color: #c72d08;
}
