
body {
    padding: 0;
    margin: 0;
    border: 0;
}

/* disable transitions */
.panel-collapse.collapsing, .navbar-collapse.collapsing {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
}

.navbar {
    margin-bottom: 5px;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
}

.navbar-brand {
    height: auto;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding: 15px 70px 15px 15px;
    }
}

.panel-group .panelTemplate {
    margin: 0;
    border-radius: 0;
}

    .panel-group .panelTemplate + .panelTemplate {
        margin-top: 0;
    }

.panelTemplate .panel-heading {
    padding: 0;
    border-radius: 0;
}

.panelTemplate .panelLink {
    display: block;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 0 5px 10px;
}

.panelTemplate .panel-collapse {
    background: #f9f9f9;
}

.panelLink.lineStatusGood {
    background: #fff;
}

.lineStatus.lineStatusGood {
    color: #3ea12e;
}

.lineStatus.lineStatusBad {
    color: #c72d08;
}

#vtabLinksCol {
    padding-left: 0;
    max-width: 41px;
}

    #vtabLinksCol .sideways {
        margin-top: 48px;
    }

    #vtabLinksCol a {
        border-radius: 0;
        padding: 10px 5px;
    }

    #vtabLinksCol .active a {
        background: #ddd;
    }

#vtabContentCol {
    padding: 0;
}

/* mta specific stuff */
.lineText .plannedWorkDetailLink {
    cursor: pointer;
    text-decoration: underline;
}

.lineText .plannedWorkDetail {
    display: none;
}
